@import "tailwindcss";

/* Root Variables */
:root {
    --primary-dark: #001F3F;
    --primary-medium: #3A6D8C;
    --primary-light: #6A9AB0;
    --accent: #EAD8B1;
    --background-light: #f3f4f6; 
    --white: #ffffff;
    --shadow: rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-light);
    color: var(--primary-dark);
    margin: 0;
    padding: 0;  
}

.main-content {
    display: flex;
}